<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
	<connectionStrings>
  <add name="DataResource.Properties.Settings.RetPokConnectionString" connectionString="Data Source=MXS119;Initial Catalog=RetPok;Persist Security Info=True;User ID=sa;Password=supermx" providerName="System.Data.SqlClient"/>
  <add name="DataResource.Properties.Settings.RetPokConnectionString1" connectionString="Data Source=MXS119;Initial Catalog=RetPok;User ID=sa;Password=supermx" providerName="System.Data.SqlClient"/>
  <add name="RetPokEntities" connectionString="metadata=.\Model1.csdl|.\Model1.ssdl|.\Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;;Data Source=MXS116\SQLEXPRESS;Initial Catalog=RetPok;User ID=sa;Password=supermx;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
 </connectionStrings>

	<system.diagnostics>
		<switches>
			<!-- 
				
      This is the Traceswitch variable that is used within the Add-in
      to configure the output of our programmcode to the logfile. Use it
      in ArcMap.exe.config NOT in <dll>.config .
      The following values are possible:
      0 - Off
      1 - Error
      2 - Warning 
      3 - Info 
      4 - Verbose
      -->
			<add name="General" value="Info"/>
			<add name="DebugTraceLevel" value="Info"/>
			<add name="DefaultTracelevel" value="Info"/>
			<add name="Debug" value="Warning"/>
		</switches>
	</system.diagnostics>
	<appSettings>
		<add key="DailyBuildRootName" value="daily_build_basis"/>
		<add key="DefaultTracelevel" value="Info"/>
		<add key="DebugTraceLevel" value="Info"/>
		<add key="OSK1" value="1.0e-4"/>
		<add key="OSK2" value="1.0e-15"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
