<configuration>
  <configSections>
    <sectionGroup name="compositeWeb">
	  <section name="modules" type="Microsoft.Practices.CompositeWeb.Configuration.ModulesConfigurationSection, Microsoft.Practices.CompositeWeb"/>
	  <section name="authorization" type="Microsoft.Practices.CompositeWeb.Configuration.AuthorizationConfigurationSection, Microsoft.Practices.CompositeWeb"/>
	</sectionGroup>
  </configSections>
  <compositeWeb>
    <modules>
      <module name="Beheer" assemblyName="Beheer" virtualPath="~/Beheer">
		    <dependencies>
          <dependency module="Shell" />
          <dependency module="MasterDetail"/>
        </dependencies>
      </module>
    </modules>
    <authorization>
		<!-- Add your own view-rule mappings here:
          e.g.:
              <rule Url="~/Beheer/Default.aspx" Rule="AllowAccessBeheerDefaultView" />
          -->
	</authorization>
  </compositeWeb>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <customErrors mode="On">
      <error statusCode="403" redirect="~/Errors/AccessDenied.htm" />
      <error statusCode="500" redirect="~/Beheer/Default.aspx" />
    </customErrors>    
  </system.web>  
</configuration>
